body { 
  background: linear-gradient(#fff, #000) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.logo {
	width: 1200px;
	height: auto;
}